# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/
Published/
*.suo
# mstest test results
TestResults
!/lib/*
!hibernate.cfg.xml
PublishWeb/App_Data/XTHospatal.mdb
PublishWeb/App_Data/XTHospital.mdb
