<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <System Name ="XTHospital">
    <WebServicesURL>http://111.114.111.111</WebServicesURL>
    <WebServicesZiyangSoft>http://www.ziyangsoft.com</WebServicesZiyangSoft>
    <InstallURL>http://www.ziyangsoft.com/App/Install</InstallURL>
    <InstallPath>C:\XTHospital</InstallPath>
    <PictureLoading>http://www.ziyangsoft.com/images/UI/Loading.png</PictureLoading>
    <PictureTop>http://www.ziyangsoft.com/images/UI/Top.jpg</PictureTop>
    <PictureLogin>http://www.ziyangsoft.com/images/UI/Login.jpg</PictureLogin>
    <ManagerPassword>253DAE2BCD20265647E4E0CB2DFF7F9A</ManagerPassword>
  </System>
</Config>
